{% extends '_template.html.twig' %}

{% block title %}
    Acceuil
{% endblock %}



{% block content %}
    <div class="section">
        <h1 class="title">Acceuil</h1>

        {% include 'includes/flash.html.twig' %}
    </div>    
{% endblock %}